@model InterestViewModel

@{
    ViewData["Title"] = "Edit";
}

@section Scripts{
    <script>
        $("form input").change(function () {

            $.ajax({
                type: "POST",
                url: "@Url.Action("GenerateInterestDetails")",
                data: $("form").serialize(),
                success: (data) => {
                    $("#interestDetailsArea").html(data);
                },
                error: (response) => {
                    console.log(response.responseText);
                }
            });

            console.log("input changed!");
        });
    </script>
}

<div class="h-100 col-md-8 col-lg-4 mx-auto">
    <div class="row my-3 col-2 ms-auto">
        <a class="btn btn-danger" asp-action="Logout">Logout</a>
    </div>

    <form asp-action="Edit" method="post" class="h-auto" novalidate>
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.UserId)

        <div class="row mb-3">
            <strong class="form-label col-8 align-self-center">Present Value:</strong>
            <div class="col-4">
                <input class="form-control text-end"
                       id="maturityYears"
                       asp-for="PresentValue"
                       type="number" />
            </div>
            <div>
                <small>
                    <span asp-validation-for="PresentValue" class="text-danger"></span>
                </small>
            </div>
        </div>

        <div class="row mb-3">
            <strong class="form-label col-8 align-self-center">Lower Bound Interest Rate:</strong>
            <div class="col-4">
                <div class="input-group">
                    <input class="form-control text-end"
                           id="maturityYears"
                           asp-for="LowerBoundInterestRate"
                           type="number" />
                    <div class="input-group-append">
                        <span class="input-group-text">%</span>
                    </div>
                </div>
            </div>
            <div>
                <small>
                    <span asp-validation-for="LowerBoundInterestRate" class="text-danger"></span>
                </small>
            </div>
        </div>

        <div class="row mb-3">
            <strong class="form-label col-8 align-self-center">Upper Bound Interest Rate:</strong>
            <div class="col-4">
                <div class="input-group">
                    <input class="form-control text-end"
                           id="maturityYears"
                           asp-for="UpperBoundInterestRate"
                           type="number" />
                    <div class="input-group-append">
                        <span class="input-group-text">%</span>
                    </div>
                </div>
            </div>
            <div>
                <small>
                    <span asp-validation-for="UpperBoundInterestRate" class="text-danger"></span>
                </small>
            </div>
        </div>

        <div class="row mb-3">
            <strong class="form-label col-8 align-self-center">Incremental Rate:</strong>
            <div class="col-4">
                <div class="input-group">
                    <input class="form-control text-end"
                           id="maturityYears"
                           asp-for="IncrementalRate"
                           type="number" />
                    <div class="input-group-append">
                        <span class="input-group-text">%</span>
                    </div>
                </div>
            </div>
            <div>
                <small>
                    <span asp-validation-for="IncrementalRate" class="text-danger"></span>
                </small>
            </div>
        </div>

        <div class="row mb-3">
            <strong class="form-label col-8 align-self-center">Maturity Year(s):</strong>
            <div class="col-4">
                <input class="form-control text-end"
                       id="maturityYears"
                       asp-for="MaturityYears"
                       type="number" />
            </div>
            <div>
                <small>
                    <span asp-validation-for="MaturityYears" class="text-danger"></span>
                </small>
            </div>
        </div>

        <div class="row mb-3">
            <a asp-action="Index" asp-route-id="@Model.Id" class="btn btn-secondary col-2 ms-auto">Cancel</a>
            <button id="save" class="btn btn-primary col-2 ms-2 me-2">
                Save
            </button>
        </div>
        <div id="interestDetailsArea">
            @Html.Partial("InterestDetails/_InterestDetails", Model.InterestDetails)
        </div>
    </form>
</div>

